<section class="container">
  <h1 class="section-title">Our Services</h1>
  <p>
    Welcome to the Services page. Here you will find information about the
    services we offer to help you succeed in your career. We have a variety of
    services available to help you achieve your goals and reach your full
    potential. Whether you are looking for career coaching, resume writing,
    interview preparation, or job search assistance, we have something for you.
  </p>
  <div class="desc">
    <h2 class="section-subtitl">The wide variety of courses we offer</h2>
    <ul>
      <li>Java Programming</li>
      <li>Python Programming</li>
      <li>Web Development</li>
      <li>Mobile App Development</li>
      <li>Machine Learning</li>
    </ul>
  </div>
</section>
