<section class="container">
  <h1 class="section-title">Learning and Development</h1>
  <p>
    Welcome to the Learning and Development page. Here you will find resources
    to help you learn and grow in your career. We have a variety of resources
    available to help you develop your skills and knowledge. Whether you are
    looking to learn a new skill, improve your current skills, or just want to
    learn more about a particular topic, we have something for you.
  </p>

  <div class="desc">
    <h2 class="section-subtile">Resources</h2>
    <ul>
      <li>
        <a href="https://www.linkedin.com/learning/">LinkedIn Learning</a>
      </li>
      <li>
        <a href="https://www.coursera.org/">Coursera</a>
      </li>
      <li>
        <a href="https://www.udemy.com/">Udemy</a>
      </li>
      <li>
        <a href="https://www.khanacademy.org/">Khan Academy</a>
      </li>
    </ul>
  </div>
</section>
